<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huixuegong.androiddevelop">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITEE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HelloWorldActivity"
            android:label="@string/activity_hello_world">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ResultActivity"
            android:label="@string/activity_result">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SubActivity" />
        <activity
            android:name=".activity.LifeCycleActivity"
            android:label="@string/activity_lifecycle">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.launchmode.StandardActivity"
            android:label="@string/activity_standard"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.launchmode.SingleTopActivity"
            android:label="@string/activity_single_top"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.launchmode.SingleTaskActivity"
            android:label="@string/activity_single_task"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- Adapter Activity -->
        <activity
            android:name=".adapter.ArrayAdapterActivity"
            android:label="@string/activity_array_adapter">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.SimpleAdapterActivity"
            android:label="@string/activity_simple_adapter">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adapter.BaseAdapterActivity"
            android:label="@string/activity_base_adapter">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".adapter.SimpleCursorAdapterActivity" />
        <!-- Broadcast Receiver Activity -->
        <activity
            android:name=".broadcast.StaticActivity"
            android:label="@string/activity_static">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".broadcast.DynamicActivity"
            android:label="@string/activity_dynamic">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".broadcast.LocalActivity"
            android:label="@string/activity_local">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- Data Storage Activity -->
        <activity
            android:name=".storage.file.FileActivity"
            android:label="@string/activity_file">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".storage.sqlite.SqliteActivity"
            android:label="@string/activity_sqlite">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".storage.sharedpreferences.SharedActivity"
            android:label="@string/activity_shared">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- Define ContentProvider Activity -->
        <activity
            android:name=".contentProvider.ContentProviderActivity"
            android:label="@string/activity_contentprovider">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Define ICP Activity -->
        <activity
            android:name=".icp.aidl.AidlActivity"
            android:label="@string/activity_aidl">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".icp.messenger.MessengerActivity"
            android:label="@string/activity_messenger">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".icp.socket.TcpActivity"
            android:label="@string/activity_tcp">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".icp.binderpool.BinderPoolActivity"
            android:label="@string/activity_binderpool">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Define Serial Activity -->
        <activity
            android:name=".searial.searializable.SerializableActivity"
            android:label="@string/activity_serialize">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".searial.parcelable.ParceableActivity"
            android:label="@string/activity_parcel">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Define Service Activity -->
        <activity
            android:name=".service.IntentServiceActivity"
            android:label="@string/activity_service">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Define View Activity -->
        <activity
            android:name=".view.scroll.ScrollerActivity"
            android:label="@string/activity_scroller">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.scroll.ScrollActivity"
            android:label="@string/activity_scroll">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.scroll.AnimationActivity"
            android:label="@string/activity_animation">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.scroll.LayoutParamsActivity"
            android:label="@string/activity_layoutparams">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- Define View Drawable Activity -->
        <activity
            android:name=".view.drawable.StateListDrawableActivity"
            android:label="@string/activity_stateListDrawable">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.drawable.LayerDrawableActivity"
            android:label="@string/activity_layerDrawable">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.drawable.AnimationDrawableActivity"
            android:label="@string/activity_animationDrawable">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- <activity android:name=".view.scroll.ViewMoveActivity" /> -->
        <!-- Define Custom View Activity -->
        <activity
            android:name=".customizeui.SmallBarActivity"
            android:label="@string/activity_smallbar">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- Define Fragment Activity -->
        <activity
            android:name=".fragment.lifestyle.FragmentLifeActivity"
            android:label="@string/activity_fragmentlifestyle">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>


        <!-- Define Receiver -->
        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Define Content Provider -->
        <provider
            android:name=".contentProvider.DatabaseProvider"
            android:authorities="com.example.huixuegong.androiddevelop"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".icp.aidl.AddService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop.AddService" />
            </intent-filter>
        </service>
        <service
            android:name=".icp.messenger.MessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.huixuegong.androiddevelop.MessengerService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".icp.socket.TcpService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".icp.binderpool.BinderPoolService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>